score_based/SGD/4clusters.csv
score_based/SGD/OLD
score_based/SGD/WORKING
score_based/SGD/alt
score_based/SGD/.ipynb_checkpoints
score_based/SGD/backups
score_based/SGD/results/all/quality_hitlists_1.1
score_based/SGD/results/all/quality_hitlists_2.1
score_based/SGD/results/hm_all/quality_hitlists_1.1
score_based/SGD/results/hm_all/quality_hitlists_2.1
git_steps.txt